@model Buseta_DataAccess.RouteSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RouteSchedule</legend>

    <div class="">
         <label>Day of the Week: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dayOfTheWeek)
    </div>

    <div class="">
        <label>Start Time: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
        <label>End Time: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
