@model Buseta_DataAccess.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h4>Are you sure you want to delete this?</h4>
<fieldset>
    <legend>Employee</legend>

    <div  class="">
       <label>Employee´s Name: </label> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="">
         <label>Lastname: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </div>

    <div class="display-label">
         <label>Email: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         <label>Telephone: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telephone)
    </div>

    <div class="display-label">
         <label>Employee Type: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeType.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
