@model Buseta_DataAccess.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Employee</legend>

    <div class="">
         <label>Name: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="">
         <label>LastName: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </div>

    <div class="">
         <label>Email: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="">
         <label>Telephone: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telephone)
    </div>

    <div class="">
         <label>Employee Type: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeType.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
