@model Buseta_DataAccess.RouteStudent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RouteStudent</legend>

    <div class="">
         <label>Route: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Route.id)
    </div>

    <div class="display-label">
        <label>Student: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.name)
    </div>

    <div class="">
         <label>Order in Route: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderInRoute)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
