@model IEnumerable<Buseta_DataAccess.RouteStudent>

@{
    ViewBag.Title = "Route Student Maintenance";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Route.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderInRoute)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Route.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderInRoute)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
