@model Buseta_DataAccess.PersonInCharge

@{
    ViewBag.Title = "Delete";
}

    <body background="http://www.wallsave.com/wallpapers/1920x1200/oscuridad/77272/oscuridad-fondos-de-pantalla-minimalistas-hd-muy-buenos-compilado-77272.jpg">

<center> <h2>Delete</h2> </center>

    <div class="table-responsive">
        <center>

        <table id="tabla" class="table table-bordered">
            <tr class="success">
               
                <td class="">
                  <label>Name: </label>
                </td>
               
               
                <td class="">
                       <label>LastName: </label>
                </td>
               
                

               <td class="">
                    <label>Email: </label>
                </td>
               

                <td class="">
        <label>Telephone: </label>
                </td>
                

                  <td class="">
         <label>Address: </label>
                </td>
                
                    
              
            </tr>
            <tr class="success">
               <td class="display-field">
                      @Html.DisplayFor(model => model.name)
                </td>

                 <td class="display-field">
                       @Html.DisplayFor(model => model.lastName)
                </td>
                 <td class="display-field">
                      @Html.DisplayFor(model => model.email)
                </td>
                 <td class="display-field">
                      @Html.DisplayFor(model => model.telephone)
                </td>
                 <td class="display-field">
                     @Html.DisplayFor(model => model.address)
                </td>

            </tr>
        </table>
            </center
    </div>

    <center>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" class="btn btn-default" value="Delete" /> |
        
    <button type="button" class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
    </p>
}
