@model IEnumerable<Buseta_DataAccess.PersonInCharge>

@{
    ViewBag.Title = "Personal In Charge";
}

<body background="http://4.bp.blogspot.com/-to0HfqSc6PM/UE0R3kwu8OI/AAAAAAAAI9g/B8QfKohzKzA/s1600/Fondo+de+pantalla+oto%C3%B1o+1.jpg">
    <center><h2> Maintenance Personal in Chearge</h2></center>

    <center>
<table id="tabla" class="table table-hover">
    <tr class="active">
        <th class="active">
            <label>Name</label>
        </th>
        <th class="active">
            <label>LastName</label>
        </th>
        <th class="active">
            <label>Email</label>
        </th>
        <th class="active">
            <label>Telephone</label>
        </th>
        <th class="active">
            <label>Address</label>
        </th>
        <th> Maintenance</th>
    </tr>

@foreach (var item in Model)
{
    <tr class="success">
        <td class="active">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td class="active">
            @Html.DisplayFor(modelItem => item.address)
        </td>
         <td class="active">
            <button type="button" class=="btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </button>
        </td>
    </tr>
}

</table>
        <button type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</button>
        </center>
</body>
