@model Buseta_DataAccess.Route

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Route</legend>

        <div class="">
            <label>Bus: </label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("busId", String.Empty)
            @Html.ValidationMessageFor(model => model.busId)
        </div>

        <div class="">
           <label>Route Schedule: </label> 
        </div>
        <div class="editor-field">
            @Html.DropDownList("routeScheduleId", String.Empty)
            @Html.ValidationMessageFor(model => model.routeScheduleId)
        </div>

        <div class="">
            <label>Going to School: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.goingToSchool)
            @Html.ValidationMessageFor(model => model.goingToSchool)
        </div>

        <div class="">
            <label>Going to Home: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.goingToHome)
            @Html.ValidationMessageFor(model => model.goingToHome)
        </div>

        <div class="">
            <label>Pilot: </label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("pilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.pilotId)
        </div>

        <div class="">
          <label>Employee: </label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("copilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.copilotId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
