@model Buseta_DataAccess.Route

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Route</legend>

    <div class="">
         <label>Bus: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bus.brand)
    </div>

    <div class="">
         <label>Route Schedule: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RouteSchedule.dayOfTheWeek)
    </div>

    <div class="">
        <label>Going to School: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.goingToSchool)
    </div>

    <div class="">
         <label>Going to Home: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.goingToHome)
    </div>

    <div class="">
         <label>Pilot: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee1.name)
    </div>

    <div class="">
         <label>Employee: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
