@model Buseta_DataAccess.Bus

@{
    ViewBag.Title = "Edit";
}
         <nav class="navbar navbar-default" role="navigation" style="background-color:#bbc5ca">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/Home"">Home</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                <li class="active"><a href="/Default1" class="dropdown-toggle" data-toggle="dropdown">Bus</a>

                                
                                </li>
                            
                            </ul>

                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>



<center><h2 id="texto1">Edit</h2></center>
   <br /><br /><br />
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
    <body >

    <center>
	<form class="form-horizontal">
	
    
            <div class="form-group">
        <label >Brand</label></div> 

           <div class="editor-field">
            @Html.EditorFor(model => model.brand)
            @Html.ValidationMessageFor(model => model.brand)
            </div>
          


                <div class="form-group" >
                <label > Color</label></div> 

                <div class="editor-field">
            
            @Html.EditorFor(model => model.color)
            @Html.ValidationMessageFor(model => model.color)
            </div>
       


            <div class="form-group"> 
              
                <label >Capacity</label>
                <div class="editor-field">
                @Html.EditorFor(model => model.capacity)
            @Html.ValidationMessageFor(model => model.capacity)
            </div>
            </div>
        </form>
        
    <input class="btn btn-primary" type="submit" value="Save" />
    <button type="submit"   class="btn btn-default" > @Html.ActionLink("Back to List", "Index")</button>
 </center>
    </body>

}  
 
