@model Buseta_DataAccess.Student

@{
    ViewBag.Title = "Create";
}
 <nav class="navbar navbar-default" role="navigation" style="background-color:#bbc5ca">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/Home"">Home</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                <li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Student</a>

                                    <ul class="dropdown-menu">
                                       
                                      <li><a href="/Student" class="dropdown-toggle" data-toggle="dropdown">Configuraciones</a> </li>
                                    </ul>
                                </li>
                            
                            </ul>

                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
     <br />
        
    
 
<center><h2 id="texto1">Create</h2></center>
        <br />
       
    <center>
    <form class="form-horizontal">
            <div class="form-group">
            <label>Name: </label></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>


        <div class="form-group">
            <label>LastName: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="form-group">
            <label>Age: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.age)
            @Html.ValidationMessageFor(model => model.age)
        </div>

        <div class="form-group">
            <label>Address: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="form-group">
            <label>Telephone: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telephone)
            @Html.ValidationMessageFor(model => model.telephone)
        </div>

       <div class="form-group">
           <label>Persona in Chearge: </label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("personInChargeId", String.Empty)
            @Html.ValidationMessageFor(model => model.personInChargeId)
        </div>

        <div class="form-group">
            <label>School: </label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("schoolId", String.Empty)
            @Html.ValidationMessageFor(model => model.schoolId)
        </div>
   </form>
         <br />
        <br />
        <button type="submit"   class="btn btn-primary" value="Create">Create</button>
        <button type="submit"   class="btn btn-default" > @Html.ActionLink("Back to List", "Index")</button>
        
    </center>
        
     }  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}